.index {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  overflow: hidden;
  background-color: #f8f6f6;
  .search {
    width: 100%;
    height: 110px;
    overflow: hidden;
    background-color: #fff;
    .content {
      width: 96%;
      height: 60px;
      margin: 0 auto;
      margin-top: 20px;
      position: relative;
      input {
        width: 100%;
        box-sizing: border-box;
        padding-left: 70px;
        height: 60px;
        outline: none;
        border: none;
        background-color: #dedede;
      }
      .icon {
        position: absolute;
        top: 16px;
        left: 20px;
        width: 35px;
        height: 35px;
        background: url('http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png') center no-repeat;
        background-size: 100%;
      }
    }
  }
  .swiper-wrapper {
    width: 100%;
    height: 417px;
  }
  .channel {
    display: flex;
    padding: 20px 0;
    background-color: #fff;
    .channel-item {
      flex: 1;
      text-align: center;
      img {
        height: 58px;
        width: 58px;
        display: inline-block;
      }
      div {
        font-size: 28px;
        color: rgb(43, 42, 42);
      }
    }
  }
}